@charset "UTF-8";
body {
    font-family: 微软雅黑!important;
    font:normal 100%;
}
a {
    text-decoration: none;
}
select,
.vr-hd-btn,
.vr-card-btn,
.vr-courses-list li {
    cursor: pointer;
}
input,
textarea,
.user-info__txt,
.vr-card-item__info,
.vr-btn__txt,
.popDiv__ft p {
    font-size: .875em;
}
/* 布局组件 */
.wrapper {
    overflow: hidden;
}
.l-sidebar {
    float: left;
    width: 16.5em;
    background-color: #3d485d;
    padding-bottom: 300em;
    margin-bottom: -300em;
}
/* logo */
.vr-logo-box {
    height: 4em;
    background-image: url(../images/bg_hov.png);
    background-repeat: repeat-y;
}
.vr-logo {
    display: block;
    height: 100%;
    background: url(../images/101LOGO.png) no-repeat 50% 50%;
}
/* 课程列表 */
.vr-courses-title {
    height: 3.125em;
    line-height: 3.125em;
    background-color: #354052;
    color: #f2f2f2;
    text-align: center;
}
.vr-courses-list li {
    height: 3.625em;
    position: relative;
}
.vr-courses__item {
    position: relative;
    padding-left: 3.625em;
    line-height: 3.625em;
    background: url(../images/icon_class_nor.png) no-repeat 1.75em 0;
    color: #7b8599;
}
.vr-courses-list li:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg_hov.png) repeat 0 0;
    background-size: 100% 100%;
    transition: width .5s;
}
.vr-courses-list li:hover .vr-courses__item {
    color: #ffffff;
    background: url(../images/icon_class_pre.png) no-repeat 1.75em 0;
}
.vr-courses-list li.ui-on {
    background-color: #4f5f79;
}
.vr-courses-list li.ui-on .vr-courses__item {
    color: #eff1f1;
    background: url(../images/icon_class_pre.png) no-repeat 1.75em 0;
}
.vr-courses-list li.ui-on::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .25em;
    height: 100%;
    background: url(../images/bg_pre-left.png) repeat-x 0 0;
    background-size: 100% 100%;
    transition: width .5s;
}
/* 内容区 */
.l-content {
    background-color: #edf2f6;
    margin-left: 16.5em;
}
/* 用户信息区 */
.l-top {
    height: 4em;
    background-color: #ffffff;
    border-bottom: #e2e2e2 1px solid;
    position: relative;
    padding-top: 1.25em;
}
.user-info-item {
    position: relative;
    display: inline-block;
    padding: 0 1em;
}
.user-info__txt {
    color: #a0a0a0;
}
.l-main__hd {
    height: 3.125em;
    background-color: #fafbfd;
    border-bottom: #e2e2e2 1px solid;
}
/* icon组件*/
.vr-icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    vertical-align: middle;
}
.vr-icon--user {
    background-image: url(../images/icon_user.png);
}
.vr-icon--id {
    background-image: url(../images/icon_id.png);
}
.vr-icon--upload {
    background-image: url(../images/uplode.png);
}
.vr-icon--create {
    background-image: url(../images/create.png);
}
.vr-icon--search {
    background-image: url(../images/icon_search.png);
}
.vr-icon--friends {
    background-image: url(../images/Friends.png);
    margin-left: 1.125em;
}
.vr-icon--edit {
    background-image: url(../images/编辑.png);
}
.vr-icon--play {
    background-image: url(../images/播放.png);
}
.vr-icon--delete {
    background-image: url(../images/删除.png);
}
.vr-icon--pre {
    background-image: url(../images/icon_pre.png)
}
.vr-icon--next {
    background-image: url(../images/icon_next.png)
}
.vr-icon--close {
    background-image: url(../images/btn_close_nor.png);
    margin-left: 1.25em;
    position: absolute;
    right: .5em;
    top: .5em;
}
.vr-icon--author {
    background-image: url(../images/用户添加.png);
    margin-left: -.1875em;
}
/* 头部拓展区*/
.vr-extend {
    position: absolute;
    top:1em;
    right: 3.375em;
}
.vr-extend__select {
    position: relative;
    width: 6.375em;
    height: 2.125em;
}
select {
    border: #16a4fa 1px solid;
    outline: none;
    width: 100%;
    height: 2.125em;
    line-height: 2.125em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: .8125em;
    color: #16a4fa;
    font-size: 1em;
}
.vr-extend__select::after {
    content: "";
    width: .625em;
    height: .4375em;
    background: url(../images/ComboBox.png)no-repeat 50% 50%;
    position: absolute;
    right: .4375em;
    top: .75em;
    pointer-events: none;
}
select:hover {
    border: #30b8ff 1px solid;
    color:#30b8ff;
 }
.vr-extend__select:hover::after {
    content: "";
    width: .625em;
    height: .4375em;
    background: url(../images/ComboBox_hov.png)no-repeat 50% 50%;
    position: absolute;
    right: .4375em;
    top: .75em;
    pointer-events: none;
}
/* ie 隐藏下拉箭头 */
select::-ms-expand {
    display: none; 
}
/* Tab标签页 */
.l-main__hd {
    position: relative;
}
.vr-tab {
    padding-top: .75em;
}
.vr-tab__item {
    padding: 0 1.125em;
    display: inline-block;
    font-size: 1.125em;
}
li.vr-tab__item a {
    color: #4d5b67;
}
li.on a {
    color: #3a98d8;
}
li.on {
    padding-bottom: 1.125em;
    margin: 0 2.25em;
    border-bottom: #16a4fa 2px solid;
}
.vr-btns-group {
    position: absolute;
    top: .5em;
    right: 3.375em;
}

/* 按钮组件 */
.vr-hd-btn,
.vr-hd-btn:hover,
.vr-hd-btn:active,
.vr-logo-box,
.vr-courses__item,
.vr-courses-list li:hover, 
.vr-courses__item,
.vr-icon--play,
.vr-courses-list li.ui-on .vr-courses__item {
    background-size: contain !important;
    -moz-background-size: contain !important;
    -webkit-background-size: contain !important;
}
.vr-hd-btn {
    background: url(../images/btn_search_nor.png)repeat-x 0 0;
    width: 7.5em;
    height: 2.0625em;
    border: #1293f9 1px solid;
    font-size: 1em;
    color: #edf2f6;
}
.vr-hd-btn:hover {
    background: url(../images/btn_search_hov.png)repeat-x 0 0;
}
.vr-hd-btn:active {
    background: url(../images/btn_search_pre.png)repeat-x 0 0;
}
/* 搜索组件 */
.vr-search {
    position: relative;
    height: 5.1875em;
}
.vr-search__main {
    position: absolute;
    top: 1.375em;
    right: 13.25em;
}
.vr-search__btn {
    width: 4.75em;
    position: absolute;
    top: 1.375em;
    right: 7.875em;
}
.input-change {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: #e2e2e2 1px solid;
    padding: .625em;
    width: 18.125em;
    height: .75em;
    border-radius: 2px;
    background: url(../images/icon_search.png)no-repeat 284px 8px #ffffff;
}
/* 作品展示项 */
.vr-card-main {
    overflow: hidden;
    padding: 0 2em .75em .8125em;
}
.vr-card-list {
    display: block;
    float: left;
    margin: 0 1.375em 4.75em 1.375em;
}
.vr-card-box {
    border: #dbe0e4 1px solid;
    background-color: #fafbfd;
}
img {
    max-width: 100%;
}
.vr-card-item__bd {
    position: relative;
    text-align: center;
}
.vr-card-item__info {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 2.125em;
    transform: translateY(-2.2em);
    color: #e7e8e7;
}
.vr-card-item__name {
    display: inline-block;
    width: 9.375em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.vr-card-item_date {
    vertical-align: middle;
    margin-left: 1.3125em;
}
.vr-card-item__ft {
    color: #4d5b67;
    text-align: center;
    padding-top: .9375em;
}
/* 选项卡按钮 */
.vr-card-item__btns {
    display: flex;    
    justify-content: space-between;
    padding: .25em 4.125em;
}
.vr-card-btn {
    display: block;
    border:0;
    outline: none;
    background-color:transparent;
}
.vr-btn__txt {
    color: #adadad;
}
button:hover .vr-btn__txt {
    color: #f5a425;
}
button:hover .vr-icon--play {
    background-image: url(../images/播放hov.png);
}
button:hover .vr-icon--edit {
    background-image: url(../images/编辑hov.png);
}
button:hover .vr-icon--delete {
    background-image: url(../images/删除hov.png);
}
/* 分页 */
.l-main__ft {
    padding-bottom: 20em;
}
.vr-page {
    text-align: center;
}
.vr-page__item {
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    margin: 0 .5em;
    background-color: #e7e7e7;
    color: #6f7a83;
    vertical-align: middle;
    line-height: 2.5em;
}
.vr-page__item:hover {
    background-color: #30b8ff;
    color: #d2efff;
}
.vr-page__item:active {
    background-color: #16a4fa;
    color: #c0e6fe;
}
/* 弹窗遮罩 新建作品*/
#bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}
#popDiv, 
#bg2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 20%;
    width: 47em;
    height: 36.1875em;
    margin-left: -23.5em;
    background-color: #ffffff;
    border-radius: .625em;
    z-index: 2;
}
.popDiv__hd {
    height: 2.8125em;
    background-color: #17a9fa;
    border-radius: .625em .625em 0 0;
    color: #eff1f1;
    text-align: center;
    line-height: 2.8125em;
}
.popDiv__hd i:hover {
    background-image: url(../images/btn_close_hov.png);
}
.popDiv__hd i:active {
    background-image: url(../images/btn_close_pre.png);
}
.popDiv__bd {
    height: 27.25em;
}
.popDiv__ft {
    height: 6.125em;
    background-color: #f0f5f9;
    border-radius: 0 0 .625em .625em;
    text-align: center;
}
.ft-btn {
    padding: 1.1875em 0 .75em 0;
}
.popDiv__ft p {
    color: #b2b2b2;
}
.bd-txt {
    color: #4d5b67;
}
input {
    color: #4d5b67;
    border: #d0d0d0 1px solid;
    padding: .75em;
    display: inline-block;
    margin-left: .75em;
}
textarea {
    color: #4d5b67;
    border: #d0d0d0 1px solid;
    padding: .75em;
    display: inline-block;
    margin-left: .75em;
}
.input1,
.input3 {
    width: 18.75em;
}
.input2 {
    width: 25em;
    height: 3.75em;
}
.input4 {
    width: 34.25em;
    height: 6.875em;
    overflow: scroll;
    overflow-x:hidden;
}
.bd-item {
    padding:0.9375em 0 0.9375em 4.5625em;
}
.bd-txt-control {
    margin-left: -2em;
}
.bd-txt-pos {
    vertical-align: top;
}
.vr-add-btn {
    width: 2.0625em;
    height: 2.0625em;
    vertical-align: bottom;
    margin-left: 0.9375em;
}
/* 弹窗遮罩 班级成员*/
#popDiv2 {
    display: none;
    position: absolute;
    z-index: 4;
    top: 10.6875em;
    left: 41.6875em;
    width: 26.625em;
    height: 36.0625em;
    background-color: #ffffff;
    border-radius: .625em;
}
#bg2 {
    z-index: 3;
    background-color: rgba(0,0,0,0.6);
}
.left {
    width: 11.3125em;
    float: left;
    margin: 1.5em 0 0 1em;
}
.middle {
    float: left;
}
.right {
    float: right;
}
.select-change {
    display: block;
    width: 8.9375em;
    height: 2.1875em;
    padding: 0 .5em;
    font-size: 0.875em;
    color: #4d5b67;
}
.select-input {
    background: url(../images/icon_search.png) no-repeat 7.4375em .5em;
    margin: 0;
    width: 7.8125em;
}
.popDiv-btn {
    width: 3.75em;
    height: 2.0625em;
    display: block;
    margin: 1.1875em 0;
}
.textarea-change {
    margin: 1.375em .8125em;
    width: 6.25em;
    height: 23.125em;
}
.btn-pos {
    padding: 1.25em 3.875em;
}